<?xml version="1.0" encoding="utf-8" ?>
<default>
  <evtCastSpell1>q</evtCastSpell1>
  <evtCastSpell2>w</evtCastSpell2>
  <evtCastSpell3>e</evtCastSpell3>
  <evtCastSpell4>r</evtCastSpell4>
  <evtCastAvatarSpell1>d</evtCastAvatarSpell1>
  <evtCastAvatarSpell2>f</evtCastAvatarSpell2>
  <evtLevelSpell1>crtl q</evtLevelSpell1>
  <evtLevelSpell2>crtl w</evtLevelSpell2>
  <evtLevelSpell3>crtl e</evtLevelSpell3>
  <evtLevelSpell4>crtl r</evtLevelSpell4>
  <evtSelfCastSpell1>alt q</evtSelfCastSpell1>
  <evtSelfCastSpell2>alt w</evtSelfCastSpell2>
  <evtSelfCastSpell3>alt e</evtSelfCastSpell3>
  <evtSelfCastSpell4>alt r</evtSelfCastSpell4>
  <evtSmartCastSpell1>shift q</evtSmartCastSpell1>
  <evtSmartCastSpell2>shift w</evtSmartCastSpell2>
  <evtSmartCastSpell3>shift e</evtSmartCastSpell3>
  <evtSmartCastSpell4>shift r</evtSmartCastSpell4>
  <evtSmartCastAvatarSpell1>shift d</evtSmartCastAvatarSpell1>
  <evtSmartCastAvatarSpell2>shift f</evtSmartCastAvatarSpell2>
</default>